@import "./properties.css";

.alert * {
  box-sizing: border-box;
  margin: var(--alert-margin);
}

.alert {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  font-family: var(--alert-font-family);
  font-size: var(--alert-font-size);
  height: var(--alert-height);
  width: 100%;
  border: var(--alert-border);
}

.alert.dark,
.alert.light {
  border-image-slice: var(--alert-border-image-slice);
  border-image-width: var(--alert-border-image-width);
  border-image-repeat: var(--alert-border-image-repeat);
  border-image-outset: var(--alert-border-image-outset);
}

.dark {
  background-color: var(--alert-dark-background-color);
  color: var(--alert-dark-color);
  border-image-source: var(--alert-dark-border-image-source);
}

.light {
  background-color: var(--alert-light-background-color);
  color: var(--alert-light-color);
  border-image-source: var(--alert-light-border-image-source);
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--alert-content-padding);
}

.icon {
  align-items: center;
  border: var(--alert-icon-border);
  box-sizing: border-box;
  color: var(--alert-icon-color);
  display: flex;
  font-size: var(--alert-icon-size);
  height: var(--alert-icon-height);
  justify-content: center;
  margin-left: var(--alert-icon-margin-left);
  margin-right: var(--alert-icon-margin-right);
  padding: var(--alert-icon-padding);

  &.error,
  &.info,
  &.success,
  &.warning {
    border-image-outset: var(--alert-border-image-outset);
    border-image-repeat: var(--alert-border-image-repeat);
    border-image-slice: var(--alert-border-image-slice);
    border-image-width: var(--alert-border-image-width);
  }
}

.warning {
  background-color: var(--alert-warning-color);
  border-image-source: var(--alert-warning-border-image-source);
}

.info {
  background-color: var(--alert-info-color);
  border-image-source: var(--alert-info-border-image-source);
}

.error {
  background-color: var(--alert-error-color);
  border-image-source: var(--alert-error-border-image-source);
}

.success {
  background-color: var(--alert-success-color);
  border-image-source: var(--alert-success-border-image-source);
}
