@import "../colors.css";
@import "../spacing.css";
@import "../typography.css";

:root {
  --alert-height: 48px;
  --alert-margin: 0;
  --alert-content-padding: var(--spacing-tiny) 0;

  --alert-border: 4px solid;
  --alert-border-image-outset: 2;
  --alert-border-image-repeat: stretch;
  --alert-border-image-slice: 2;
  --alert-border-image-width: 2;

  --alert-dark-background-color: var(--color-light-carbon-100);
  --alert-dark-color: var(--color-white);
  --alert-dark-border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgba(255,255,255,1)" /></svg>');

  --alert-light-background-color: var(--color-white);
  --alert-light-color: var(--color-light-steel-100);
  --alert-light-border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgba(209,213,216,1)" /></svg>');

  --alert-font-family: var(--title-font-family);
  --alert-font-size: 16px;

  --alert-icon-border: 2px solid;
  --alert-icon-color: var(--color-white);
  --alert-icon-height: calc(100% - 4px);
  --alert-icon-margin-left: 1px;
  --alert-icon-margin-right: var(--spacing-tiny);
  --alert-icon-size: 16px;
  --alert-icon-max-height: 36px;
  --alert-icon-padding: 8px;

  --alert-error-color: var(--color-light-error);
  --alert-error-border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(194, 20, 62)" /></svg>');
  --alert-info-color: var(--color-light-info);
  --alert-info-border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(132, 89, 185)" /></svg>');
  --alert-success-color: var(--color-light-success);
  --alert-success-border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(58, 190, 210)" /></svg>');
  --alert-warning-color: var(--color-light-warning);
  --alert-warning-border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255, 163, 23)" /></svg>');
}
